html {
	background-color: #e9ecef;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#profileImage {
	border: 1px solid black;
	border-radius: 50%;
	margin: 1em 3em 1em 1em;
	vertical-align: top;
}

#personalDetails {
	display: inline-block;
}

#output {
	margin: 1em;
	display: inline-block;
	padding: 10px 25px;
	border: 1px solid black;
	border-radius: 15px;
}

#output>h2 {
	text-decoration: underline;
}

#output>a {
	transition-duration: 350ms;
	transition-timing-function: ease-in-out;
}

#output>a:hover {
	color: mediumblue;
	font-size: large;
	font-weight: 600;
}

h1#fullName {
	color: mediumblue;
	font-size: 2.5em;
	font-weight: 100;
}

#githubLink, #linkedinLink, #singleRepo {
	text-decoration: none;
	color: black;
}